.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 25px;
  width: $mobile;

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-left: 85px;
    padding-right: 73px;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding-right: 173px;
    padding-left: 161px;
  }
}
