.button-buy {
  display: inline-block;
  padding-top: 11px;
  height: 40px;
  width: 145px;
  border-radius: 5px;
  border-style: none;
  background-color: $background-modal-button;
  outline-color: $accent-color-pink;
  font-family: sans-serif;
  color: $primary-white;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1, 1288;
  letter-spacing: 0em;

  // margin-top: 10px;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    margin-left: 313px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 450px;
    margin-bottom: 31px;
  }
  // & > a {
  //   text-decoration: none;
  // }
}

.button-more-author {
  padding-top: 10px;
  height: 40px;
  width: 232px;
  border-radius: 5px;
  background-color: $background-modal-color;
  color: $background-modal-button;
  cursor: pointer;
  border: 1px solid $background-modal-button;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;

  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;

  @media screen and (min-width: $tablet) {
    width: 255px;
    margin-top: 23px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 45px;
  }
}

.icon-close {
  width: 17px;
  height: 17px;
  fill: $background-modal-button;

  @media screen and (min-width: $desktop) {
    width: 25px;
    height: 25px;
  }
}

.button-buy:active,
.button-buy:hover {
  background-color: $background-modal-button-hover;
  transition-timing-function: $timing-function;
  transition-duration: $time-transition;
}
.button-more-author:active,
.button-more-author:hover {
  border: 1px solid $accent-color-pink;
  transition-timing-function: $timing-function;
  transition-duration: $time-transition;
}

.modal-btn {
  color: $primary-white;
  text-decoration: none;
}
.modal-a {
  color: $background-modal-button;
  text-decoration: none;
}
