// основні кольори

$accent-color-pink: #dc56c5; //колір назви артиста, заголовки на модальному вікні
$primary-white: #ffffff; //фон логотипу, назва місця заходу, дата проведення заходу
$background-modal-color: #fff2fd; // основний фон мод. вікна
$background-backdrop: rgba(32, 13, 29, 0.6); // фон бекдроп
$text-color-dark: #0e0e0e; //колір основного тексту в модальному вікні та шрих-коду
$background-modal-button: #4c00fe; // колір кнопок в модальному вікні, і рамки з додатк. інф-ою, кнопки закриття мод. вікна
$background-modal-button-hover: #2e009a; // колір кнопок в модальному вікні при ховері
$background-search-field: rgba(255, 255, 255, 0.2); //фон вікон пошуку і вибору країни
$classik-black: #0000; //хз, може знадобиться
$background-gray: #c4c4c4; //фон под мал.картинкой в модалке
$gray-text: #939393; // сірий колір шрифту форми пошуку

$background-mobile: rgba(14, 14, 14, 1); // фон мобільної версії
$pseudo-element-pink-color: rgba(220, 86, 197, 0.3); // колів псевдо-елементу в картці події

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$time-transition: 250ms;
$font-family-main: Montserrat;

// preloader-color
// $preloader-background-color: #337ab7;
// $preloader-background: #e0e0e0;
