// основні кольори

$accent-color-pink: #dc56c5; //колір назви артиста, заголовки на модальному вікні
$primary-white: #ffffff; //фон логотипу, назва місця заходу, дата проведення заходу
$background-modal-color: #fff2fd; // основний фон мод. вікна
$background-backdrop: #200d1d99; // фон бекдроп
$text-color-dark: #0e0e0e; //колір основного тексту в модальному вікні та шрих-коду
$background-modal-button: #4c00fe; // колір кнопок в модальному вікні, і рамки з додатк. інф-ою, кнопки закриття мод. вікна
$background-search-field: rgba(255, 255, 255, 0.2); //фон вікон пошуку і вибору країни
$classik-black: #0000; //хз, може знадобиться
$background-mobile: rgba(14, 14, 14, 1); // фон мобільної версії
