<footer class="footer-bg">
  <div class="container">
    <div class="footer-copirite">
      <p class="copirite">
        © 2021 | All Rights Reserved |<a
          class="footer__link-goit"
          href="https://goit.ua"
          target="_blank"
        >
          Developed with &#10084;&#65039;by GoIT Students
        </a>
      </p>
    </div>
    <div class="team-block">
      <a
        class="shine-button"
        href="https://github.com/andrii-telishko/event-boostert-team-project/graphs/contributors"
        target="_blank"
        alt="team-member"
        >Team members</a
      >
    </div>
  </div>
</footer>
