<section class="main-section">
    <div class="container">
      <ul class="main-section-event-list js-list">
      </ul>        
    </div>
<div class="pagination-bock">
    <ul class="list pagination-list">
        <!-- <li class="pagination-item">1</li>
            <li class="pagination-item">2</li>
            <li class="pagination-item">3</li>
            <li class="pagination-item">4</li>
            <li class="pagination-item">5</li>
            <li class="pagination-item">...</li>
            <li class="pagination-item">29</li> -->

    </ul>
    <div class="scroll-container">
        <button class="scroll">
            <svg class="icon-close">
                <use href="./images/svg/main.svg#icon-arrow-up"></use>
            </svg>
        </button>
    </div>
</div>


    
</section>