<section class="main-section">
    <div class="container">
        <ul class="main-section-event-list">
            <li class="event-item">
                <div class="event">
                    <img src="" alt="poster" width="128px" height="161px" class="event-img">
                    <h2 class="event-name element">Eurovision
                    2021 finals!</h2>
                    <p class="event-date element">2021-06-09</p>
                    <p class="event-place element">VDNH</p>
                </div>
            </li>
            <li class="event-item">
                <div class="event">
                    <img src="" alt="poster" width="128px" height="161px" class="event-img">
                    <h2 class="event-name element">Atlas Weekend</h2>
                    <p class="event-date element">2021-06-09</p>
                    <p class="event-place element">VDNH</p>
                </div>
            </li>
            <li class="event-item">
                <div class="event">
                    <img src="" alt="poster" width="128px" height="161px" class="event-img">
                    <h2 class="event-name element">Eurovision
                        2021 finals!</h2>
                    <p class="event-date element">2021-06-09</p>
                    <p class="event-place element">VDNH</p>
                </div>
            </li>
            <li class="event-item">
                <div class="event">
                    <img src="" alt="poster" width="128px" height="161px" class="event-img">
                    <h2 class="event-name element">Eurovision
                        2021 finals!</h2>
                    <p class="event-date element">2021-06-09</p>
                    <p class="event-place element">VDNH</p>
                </div>
            </li>
        </ul>
        <div class="pagination-bock"></div>
    </div>
</section>