<section class="main-section">
    <div class="container">
        <ul class="main-section-event-list">
            <li class="event-item">
                <div class="event"></div>
            </li>
            <li class="event-item">
                <div class="event"></div>
            </li>
            <li class="event-item">
                <div class="event"></div>
            </li>
            <li class="event-item">
                <div class="event"></div>
            </li>
        </ul>
        <div class="pagination-bock"></div>
    </div>
</section>