.hero {
  position: relative;
  display: flex;
  background-color: rgba(11, 11, 11, 0.5);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  // width: 100%;
  height: 364px;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  @media screen and (max-width: $tablet - 1) {
    background-image: linear-gradient(to bottom, rgba(13, 13, 13, 0), rgba(14, 14, 14, 0.8)),
      url('../images/mobile/header.png');
    // height: 364px;
    // width: 320px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to bottom, rgba(13, 13, 13, 0), rgba(14, 14, 14, 0.8)),
        url('../images/mobile/header@2x.png');
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (-webkit-min-device-pixel-ratio: 3),
      screen and (-o-min-device-pixel-ratio: 3/1),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(to bottom, rgba(13, 13, 13, 0), rgba(14, 14, 14, 0.8)),
        url('../images/mobile/header@3x.png');
    }
  }

  @media screen and (min-width: $tablet) {
    // max-width: 768px;
    // height: 364px;
    background-image: linear-gradient(to bottom, rgba(13, 13, 13, 0), rgba(14, 14, 14, 0.8)),
      url('../images/tablet/header.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to bottom, rgba(13, 13, 13, 0), rgba(14, 14, 14, 0.8)),
        url('../images/tablet/header@2x.png');
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (-webkit-min-device-pixel-ratio: 3),
      screen and (-o-min-device-pixel-ratio: 3/1),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(to bottom, rgba(13, 13, 13, 0), rgba(14, 14, 14, 0.8)),
        url('../images/tablet/header@3x.png');
    }
  }
  @media screen and (min-width: $desktop) {
    max-width: 1280px;
    height: 446px;
    background-image: linear-gradient(to bottom, rgba(13, 13, 13, 0), rgba(14, 14, 14, 0.8)),
      url('../images/desktop/header.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to bottom, rgba(13, 13, 13, 0), rgba(14, 14, 14, 0.8)),
        url('../images/desktop/header@2x.png');
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (-webkit-min-device-pixel-ratio: 3),
      screen and (-o-min-device-pixel-ratio: 3/1),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(to bottom, rgba(13, 13, 13, 0), rgba(14, 14, 14, 0.8)),
        url('../images/desktop/header@3x.png');
    }
  }
}

.hero-content {
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 78px;
  padding-bottom: 112px;
  text-align: center;

  // display: block;
  // height: 44px;
  @media screen and (min-width: $tablet) {
    max-width: 570px;
    padding-top: 40px;
    padding-bottom: 183px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 588px;
    padding-top: 40px;
    padding-bottom: 192px;
  }
}

.title {
  width: 212px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    width: 353px;
  }
  @media screen and (min-width: $desktop) {
    width: 589px;
    // height: 112px;
  }
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: $accent-color-pink;

  @media screen and (min-width: $tablet) {
    margin-bottom: 27px;
    font-size: 30px;
    line-height: 37px;
  }
  @media screen and (min-width: $desktop) {
    // width: 353px;
    margin-bottom: 52px;
    font-size: 50px;
    line-height: 61px;
  }
}

.logo {
  display: inline-block;
  background-size: contain;
  position: absolute;
  @media screen and (max-width: $tablet - 1) {
    height: 90px;
    width: 107px;
  }
  @media screen and (min-width: $tablet) {
    height: 151px;
    width: 180px;
  }

  @media screen and (min-width: $desktop) {
    height: 201px;
    width: 238px;
  }
}

// .logo-img {
//   background-size: contain;
//   position: absolute;
//   left: 0;

//   @media screen and (max-width: $tablet - 1) {
//     max-height: 90px;
//     width: 107px;
//   }
//   @media screen and (min-width: $tablet) {
//     max-height: 151px;
//     width: 180px;
//   }

//   @media screen and (min-width: $desktop) {
//     max-height: 201px;
//     width: 238px;
//   }
// }
