.main-section {
  margin-top: -60px;
  background-color: $background-mobile;
  padding-bottom: 60px;
}

.main-section-event-list {
  padding: 0%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-left: -2px;
  margin-right: -2px;
  list-style: none;
  margin-bottom: 60px;
}

.event-item {
  margin-left: 2px;
  margin-right: 2px;
  flex-basis: calc((100% - 4 * 2px) / 2);
  margin-bottom: 30px;
  position: relative;
}

.event-item:nth-last-child(-n + 2) {
  margin-bottom: 0px;
}

.event-item::after {
  content: '';
  position: absolute;
  width: 109px;
  height: 101px;
  right: 0px;
  top: 0px;

  border: 1px solid $pseudo-element-pink-color;
  box-sizing: border-box;
  border-radius: 50px 0px;
}
//-------------------//
.event {
  width: 100%;
  height: 242px;

  font-size: 14px;
  line-height: 17.07px;
  text-align: center;

  cursor: pointer;
}

.event-name {
  font-size: 14px;
  font-weight: 700;
  color: $accent-color-pink;
}

.event-date {
  font-weight: 400;
  color: $primary-white;
}

.event-place {
  font-size: 12px;
  font-weight: 600;
  line-height: 14.63px;
  color: $primary-white;
}
.location {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.icon-location {
  display: flex;
  fill: #fff;

  margin-right: 3px;
  width: 6px;
  height: 9px;
}

.event-img {
  box-sizing: border-box;
  border-radius: 50px 0px;

  max-width: 128px;
  height: 161px;

  background-color: #fff;
  display: block;
  margin: 0;
  margin-top: 9px;
}

.element {
  padding-top: 5px;
  margin: 0;
}

@media screen and (min-width: $tablet) {
  .main-section {
    background-image: url('./../images/tablet/bg-body@2x.png');
  }

  .main-section-event-list {
    margin-left: -7px;
    margin-right: -7px;
    margin-bottom: 60px;
  }

  .event-item {
    margin-left: 7px;
    margin-right: 7px;
    flex-basis: calc((100% - 6 * 7px) / 3);
    margin-bottom: 45px;
  }

  .event-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }

  .event-item::after {
    width: 153px;
    height: 143px;
  }

  // --------------------------//
  .event {
    height: 312px;

    font-size: 16px;
    line-height: 19.5px;
  }

  .event-name {
    font-size: 16px;
  }

  .event-place {
    font-size: 14px;
    line-height: 17.07px;
  }

  .icon-location {
    width: 7px;
    height: 10px;
  }

  .event-img {
    max-width: 180px;
    height: 227px;
    margin-top: 13px;
  }
}

@media screen and (min-width: $desktop) {
  .main-section {
    margin-top: -72px;
    background-image: url('./../images/desktop/bg-body.png');
    padding-bottom: 80px;
  }

  .main-section-event-list {
    margin-left: -28px;
    margin-right: -28px;
    margin-bottom: 93px;
  }

  .event-item {
    margin-left: 28px;
    margin-right: 28px;
    flex-basis: calc((100% - 8 * 28px) / 4);
    margin-bottom: 50px;
  }

  .event-item:nth-last-child(-n + 4) {
    margin-bottom: 0px;
  }
}
