.backdrop {
  font-family: $font-family-main;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  // background-color: $background-backdrop;
  overflow-y: scroll;
  background: $background-backdrop;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(3px);
  transition-timing-function: $timing-function;
  transition-duration: $time-transition;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // transition-duration: 400ms;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  // transform: translate(-50%, -50%) scale(1.1);
}
.backdrop.is-open {
  opacity: 1;
  pointer-events: initial;
}
.modal {
  position: absolute;
  top: 127%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  transition: $time-transition, $timing-function;
  // background-color: $primary-white;
  height: 915px;
  width: 272px;

  text-align: center;
  background: $background-modal-color;
  border-radius: 150px 0px;
  padding-left: 12px;
  padding-right: 17px;

  @media screen and (min-width: $tablet) {
    border-radius: 300px 0px;
    text-align: left;
    height: 831px;
    width: 595px;
    padding-left: 0;
    top: 86%;
  }
  @media screen and (min-width: $desktop) {
    width: 942px;
    height: 1023px;
    padding-left: 0;
    padding-right: 30px;
    top: 93%;
  }
}
.modal-svg {
  display: block;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;

  @media screen and (min-width: $desktop) {
    top: 30px;
    right: 30px;
  }
  // width: 30px;
  // height: 30px;
  border: none;

  padding: 0;
  background-color: $background-modal-color;
  background-size: contain;
}
.icon-close:hover {
  fill: red;
  background-color: $background-modal-color;
}

// ----------------------
.modal-img {
  width: 102px;
  height: 102px;
  margin-top: 75px;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: $background-gray;
  object-fit: cover;

  @media screen and (min-width: $tablet) {
    width: 70px;
    height: 70px;
    margin-top: 28px;
    margin-bottom: 43px;
    // margin-left: 263px;
  }
  @media screen and (min-width: $desktop) {
    width: 132px;
    height: 132px;
    margin-top: 62px;
    margin-bottom: 41px;
    // margin-left: 399px;
  }
}

.modal-big-img {
  width: 0px;
  height: 0px;
  object-fit: cover;
  @media screen and (min-width: $tablet) {
    position: absolute;
    width: 233px;
    height: 416px;
    left: 50px;
    top: 141px;
  }
  @media screen and (min-width: $desktop) {
    width: 360px;
    height: 641px;
    left: 30px;
    top: 235px;
  }
}

.modal-head {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: $accent-color-pink;

  margin: 0;
  margin-bottom: 5px;

  @media screen and (min-width: $tablet) {
    padding-left: 313px;
  }
  @media screen and (min-width: $desktop) {
    padding-left: 450px;
    font-size: 24px;
    line-height: 29.26px;
    margin-bottom: 7px;
  }
}

.modal-info {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #0e0e0e;

  margin: 0;
  margin-bottom: 10px;
  @media screen and (min-width: $tablet) {
    padding-left: 313px;
  }
  @media screen and (min-width: $desktop) {
    padding-left: 450px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }
}

.between-string {
  margin-bottom: 3px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 5px;
  }
}

.modal-barcode {
  height: 16px;
  width: 24px;
  margin-right: 13px;
  @media screen and (min-width: $tablet) {
  }
  @media screen and (min-width: $desktop) {
    height: 19.4px;
    width: 29px;
  }
}
